.home {
  // background-color: #030b6b;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1163%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1164%26quot%3b)'%3e%3c/rect%3e%3cpath d='M804 442L803 84' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M845 273L844 -98' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1110 243L1109 401' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1133 293L1132 138' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M584 157L583 437' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M304 473L303 826' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M736 210L735 458' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M232 319L231 -82' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1414 369L1413 751' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M901 214L900 36' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M583 105L582 468' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M372 380L371 206' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M180 414L179 832' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M147 406L146 609' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M664 60L663 -324' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1123 374L1122 -37' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M563 382L562 743' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M52 500L51 662' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1102 255L1101 71' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M876 119L875 264' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M502 186L501 442' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1098 558L1097 715' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M636 479L635 270' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M550 474L549 647' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M823 66L822 322' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M448 319L447 682' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1093 310L1092 483' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1196 321L1195 56' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1378 404L1377 626' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M143 398L142 166' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M551 188L550 -104' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M428 549L427 931' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M328 370L327 33' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M652 509L651 769' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1166%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1301 133L1300 343' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M698 540L697 893' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1165%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1163'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='139.29%25' x2='84.72%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1164'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 35%2c 180%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1165'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1166'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  min-height: 100vh;

  & nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
    & > .logo {
      color: #fff;
    }
  }
}
.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  & li a {
    color: #fff;
  }
  & > * {
    margin-left: 1rem;
    color: #fff;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 50%;
  & > * {
    color: #fff;
    margin-bottom: 2rem;
  }
  & > h2 span {
    display: block;
  }
  & .hero-buttons a {
    color: #fff;
  }
}
.hero-image {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .hero-image {
    width: 100%;
    &img {
      width: 100%;
    }
  }
}
